{% load static %}
<div class="content-box col-md-8">
    {% if post %}
        <div class="last-post">
            <a href="#">
                <h2 class="title">{{ post.title }}</h2>
            </a>
            <p>
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
            </p>
            <div class="author-created">
                Author:
                <span class="author">Quan Pham</span>
                | Last Updated:
                <span class="created">Oct 07, 2016</span>
            </div>
        </div>
    {% endif %}
</div>