{% load static %}
<div class="content-box col-md-8">
    {% if post %}
        <div class="single-post">
            <a href="#">
                <h2 class="title">{{ post.title }}</h2>
            </a>
            <p>
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
            </p>
        </div>
    {% endif %}

    <div class="related-post">
        <h3>Related Post</h3>
        {% if related_post %}
            {% for item in related_post %}
            <div class="related-item col-md-4">
                <div class="image"><img src="{% get_media_prefix %}{{ item.image_thumbnail }}"></div>
                <div class="title"><a href="#">{{ item.title }}</a></div>
            </div>
            {% endfor %}

        {% endif %}
    </div>

    <div class="conversation">
        {% include 'comment/disqus.html' %}
    </div>
</div>